{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Lista de Asignaciones</h2>

    <a href="{% url 'alumno:asignacion_create' %}" class="btn btn-primary mb-3">
        Nueva Asignación
    </a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Curso</th>
                <th>Catedrático</th>
                <th>Horario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for asignacion in asignaciones %}
            <tr>
                <td>{{ asignacion.curso.nombre }}</td>
                <td>{{ asignacion.catedratico.nombre }}</td>
                <td>{{ asignacion.horario}}
                <td>
                    <a href="{% url 'alumno:asignacion_edit' asignacion.pk %}">Editar</a>
                    <a href="{% url 'alumno:asignacion_delete' asignacion.pk %}">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay asignaciones.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}